{%- comment -%}
IMPLEMENTATION NOTE: the header in Focal is pretty complex as it allows a lot of different layouts. In order to make
  this code as efficient as possible and avoid as many reflows, we are using a lot of different CSS variables. If you
  need to touch this code, make sure to do it with EXTRA CARE as it may have some unwanted side effects
{%- endcomment -%}

<style>
  :root {
    --enable-sticky-header: {% if section.settings.enable_sticky_header %}1{% else %}0{% endif %};
    --enable-transparent-header: {% if request.page_type == 'index' and section.settings.enable_transparent_header %}1{% else %}0{% endif %};
    --loading-bar-background: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }}; /* Prevent the loading bar to be invisible */
  }

  #shopify-section-{{ section.id }} {
    {%- assign header_border_color = settings.header_background | color_mix: settings.header_text_color, 85 -%}

    --header-background: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
    --header-text-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
    --header-border-color: {{ header_border_color.red }}, {{ header_border_color.green }}, {{ header_border_color.blue }};
    --reduce-header-padding: {% if section.settings.reduce_desktop_padding %}1{% else %}0{% endif %};

    {%- if section.settings.enable_sticky_header -%}
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    {%- else -%}
      position: relative;
    {%- endif -%}

    z-index: 4;
  }

  {%- if section.settings.enable_sticky_header -%}
    .shopify-section--announcement-bar ~ #shopify-section-{{ section.id }} {
      top: calc(var(--enable-sticky-announcement-bar, 0) * var(--announcement-bar-height, 0px));
    }
  {%- endif -%}

  {%- if request.page_type == 'index' and section.settings.enable_transparent_header -%}
    #shopify-section-{{ section.id }} {
      margin-bottom: calc(-1 * (var(--header-height, 0px) + var(--enable-sticky-announcement-bar) * var(--announcement-bar-height, 0px)));
    }

    .js #shopify-section-{{ section.id }} .header--transparent {
      {%- if settings.header_text_color == section.settings.transparent_header_text_color -%}
        {%- assign header_bubble_text_color = settings.header_background -%}
      {%- else -%}
        {%- assign header_bubble_text_color = settings.header_text_color -%}
      {%- endif -%}

      --header-background: transparent;
      --header-text-color: {{ section.settings.transparent_header_text_color.red }}, {{ section.settings.transparent_header_text_color.green }}, {{ section.settings.transparent_header_text_color.blue }};
      --header-border-color: {{ section.settings.transparent_header_text_color.red }}, {{ section.settings.transparent_header_text_color.green }}, {{ section.settings.transparent_header_text_color.blue }}, 0.15;
      --header-transparent-bubble-text-color: {{ header_bubble_text_color.red }}, {{ header_bubble_text_color.green }}, {{ header_bubble_text_color.blue }};
    }
  {%- endif -%}

  #shopify-section-{{ section.id }} .header__logo-image {
    max-width: {{ section.settings.mobile_logo_max_width }}px;
  }

  @media screen and (min-width: 741px) {
    #shopify-section-{{ section.id }} .header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  }

  @media screen and (min-width: 1200px) {
    {%- if section.settings.header_layout == 'logo_left_navigation_inline' -%}
      /* For this navigation we have to move the logo at the first and add a margin */
      [dir="rtl"] .header__logo {
        margin-left: 40px;
      }

      [dir="ltr"] .header__logo {
        margin-right: 40px;
      }

      .header__logo {
        order: -1;
      }

      @media screen and (min-width: 741px) {
        .header__secondary-links {
          max-width: max-content;
          margin-inline-start: 48px;
        }
      }
    {%- endif -%}

    {%- if section.settings.header_layout == 'logo_left_navigation_center' -%}
      /* For this navigation we have to move the logo and make sure the navigation takes the whole width */
      .header__logo {
        order: -1;
        flex: 1 1 0;
      }

      .header__inline-navigation {
        flex: 1 1 auto;
        justify-content: center;
        max-width: max-content;
        margin-inline: 48px;
      }
    {%- endif -%}
  }

  {%- if request.page_type == '404' -%}
    .shopify-section--404 {
      /* For the 404 page, we re-use the same colors as the header for design reason */
      --background: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
      --heading-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --text-color: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --primary-button-background: {{ settings.header_text_color.red }}, {{ settings.header_text_color.green }}, {{ settings.header_text_color.blue }};
      --primary-button-text-color: {{ settings.header_background.red }}, {{ settings.header_background.green }}, {{ settings.header_background.blue }};
    }
  {%- endif -%}
</style>

<store-header {% if section.settings.enable_sticky_header %}sticky{% endif %} {% if request.page_type == 'index' and section.settings.enable_transparent_header %}transparent{% endif %} class="header {% if settings.background == settings.header_background %}header--bordered{% endif %} {% if request.page_type == 'index' and section.settings.enable_transparent_header %}header--transparent{% endif %}" role="banner">
  {%- assign menu = section.settings.navigation_menu -%}

  <div class="container">
    <div class="header__wrapper">
      <!-- LEFT PART -->
      <nav class="header__inline-navigation" {% unless section.settings.header_layout == 'logo_center_search_open' %}role="navigation"{% endunless %}>
        {%- if menu.links.size > 0 and section.settings.header_layout == 'logo_left_navigation_inline' or section.settings.header_layout == 'logo_left_navigation_center' or section.settings.header_layout == 'logo_center_navigation_inline' -%}
          {%- render 'desktop-menu', menu: menu -%}
        {%- endif -%}

        <div class="header__icon-list {% if section.settings.header_layout == 'logo_center_search_open' %}hidden-desk{% endif %}">
          {%- if menu.links.size > 0 -%}
            <button is="toggle-button" class="header__icon-wrapper tap-area {% unless section.settings.header_layout == 'drawer' %}hidden-desk{% endunless %}" aria-controls="mobile-menu-drawer" aria-expanded="false">
              <span class="visually-hidden">{{ 'header.general.navigation' | t }}</span>
              {%- render 'icon' with 'header-hamburger' -%}
            </button>
          {%- endif -%}

          <a href="{{ routes.search_url }}" is="toggle-link" class="header__icon-wrapper tap-area {% if section.settings.header_layout == 'logo_center_search_open' %}hidden-lap{% endif %} hidden-desk" aria-controls="search-drawer" aria-expanded="false" aria-label="{{ 'search.general.title' | t | escape }}">
            {%- render 'icon' with 'header-search' -%}
          </a>
        </div>

        {%- if section.settings.header_layout == 'logo_center_search_open' -%}
          <div class="header__search-bar predictive-search hidden-pocket">
            <form class="predictive-search__form" action="{{ routes.search_url }}" method="get" role="search">
              <input type="hidden" name="type" value="product">

              {%- render 'icon' with 'header-search' -%}
              <input class="predictive-search__input" is="predictive-search-input" type="text" name="q" autocomplete="off" autocorrect="off" aria-controls="search-drawer" aria-expanded="false" aria-label="{{ 'search.general.title' | t }}" placeholder="{{ 'search.general.search_placeholder' | t }}">
            </form>
          </div>
        {%- endif -%}
      </nav>

      <!-- LOGO PART -->
      {%- capture logo -%}
        <a class="header__logo-link" href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            {%- capture logo_size -%}{{ section.settings.logo_max_width | at_least: section.settings.mobile_logo_max_width | times: 2 | append: 'x' }}{%- endcapture -%}
            <span class="visually-hidden">{{ shop.name }}</span>
            <img class="header__logo-image" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" src="{{ section.settings.logo | img_url: logo_size }}" alt="{{ section.settings.logo.alt | escape }}">

            {%- if request.page_type == 'index' and section.settings.enable_transparent_header and section.settings.transparent_logo != blank -%}
              <img class="header__logo-image header__logo-image--transparent" width="{{ section.settings.transparent_logo.width }}" height="{{ section.settings.transparent_logo.height }}" src="{{ section.settings.transparent_logo | img_url: logo_size }}" alt="{{ section.settings.transparent_logo.alt | escape }}">
            {%- endif -%}
          {%- else -%}
            <span class="header__logo-text heading h5">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      {%- endcapture -%}

      {%- if request.page_type == 'index' -%}
        <h1 class="header__logo">{{ logo }}</h1>
      {%- else -%}
        <span class="header__logo">{{ logo }}</span>
      {%- endif -%}

      <div class="header__search-bar predictive-search hidden-pocket">
        <predictive-search>
          <form action="{{ routes.search_url }}" method="get" role="search">
            <div class="field">
            {%- render 'icon' with 'header-search' -%}
            <input
              id="Search"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              placeholder="What are you looking for?"
            />
            <input name="options[prefix]" type="hidden" value="last" />
          </div>
            <div id="predictive-search" tabindex="-1"></div>
          </form>
        </predictive-search>
      </div>

      <!-- SECONDARY LINKS PART -->
      <div class="header__secondary-links">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if locale_selector or country_selector -%}
          {%- form 'localization', id: 'header-localization-form', class: 'header__cross-border hidden-pocket' -%}
            {%- if country_selector -%}
              <div class="popover-container">
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                <span class="visually-hidden">{{ 'header.general.country' | t }}</span>

                <button type="button" is="toggle-button" class="popover-button text--small" aria-expanded="false" aria-controls="header-localization-form-currency">
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }} {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%})
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="header-localization-form-currency" class="popover">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'header.general.country' | t -}}</span>

                    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content popover__content--restrict">
                    <div class="popover__choice-list">
                      {%- for country in localization.available_countries -%}
                        <button type="submit" name="country_code" value="{{ country.iso_code }}" class="popover__choice-item">
                          <span class="popover__choice-label" {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}>
                            {{- country.name }} ({{ country.currency.iso_code }} {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%})
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="popover-container">
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                <span class="visually-hidden">{{ 'header.general.language' | t }}</span>

                <button type="button" is="toggle-button" class="popover-button text--small" aria-expanded="false" aria-controls="header-localization-form-locale">
                  {{- localization.language.endonym_name | capitalize -}}
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="header-localization-form-locale" class="popover">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'header.general.language' | t -}}</span>

                    <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content">
                    <div class="popover__choice-list">
                      {%- for language in localization.available_languages -%}
                        <button type="submit" name="locale_code" value="{{ language.iso_code }}" class="popover__choice-item">
                          <span class="popover__choice-label" {% if language.iso_code == localization.language.iso_code %}aria-current="true"{% endif %}>
                            {{- language.endonym_name | capitalize -}}
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}

        <div class="header__icon-list">
          {%- comment -%}IMPLEMENTATION NOTE: this icon is hidden by the "popup" section if it is disabled{%- endcomment -%}
          <button is="toggle-button" class="header__icon-wrapper tap-area hidden-phone {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-controls="newsletter-popup" aria-expanded="false">
            <span class="visually-hidden">{{ 'header.general.newsletter' | t }}</span>
            {%- render 'icon' with 'header-email' -%}
          </button>
          {%- comment -%}
          {%- if section.settings.header_layout != 'logo_center_search_open' -%}
            <a href="{{ routes.search_url }}" is="toggle-link" class="header__icon-wrapper tap-area hidden-pocket hidden-lap {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-label="{{ 'search.general.title' | t | escape }}" aria-controls="search-drawer" aria-expanded="false">
              {%- render 'icon' with 'header-search' -%}
            </a>
          {%- endif -%}
          {%- endcomment -%}
          {%- if shop.customer_accounts_enabled -%}
            <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="header__icon-wrapper tap-area hidden-phone {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-label="{% if customer %}{{ 'header.general.account' | t | escape }}{% else %}{{ 'header.general.login' | t | escape }}{% endif %}">
              {%- render 'icon' with 'header-customer' -%}
            </a>
          {%- endif -%}

          <a href="{{ routes.cart_url }}" {% unless settings.cart_type == 'page' or request.page_type == 'cart' %}is="toggle-link" aria-controls="mini-cart" aria-expanded="false"{% endunless %} class="header__icon-wrapper tap-area {% unless section.settings.show_icons %}hidden-desk{% endunless %}" aria-label="{{ 'header.general.cart' | t | escape }}" data-no-instant>
            {%- case settings.cart_icon -%}
              {%- when 'shopping_bag' -%}
                {%- render 'icon' with 'header-cart' -%}

              {%- when 'shopping_cart' -%}
                {%- render 'icon' with 'header-shopping-cart' -%}

              {%- when 'tote_bag' -%}
                {%- render 'icon' with 'header-tote-bag' -%}
            {%- endcase -%}

            <cart-count class="header__cart-count header__cart-count--floating bubble-count">{{ cart.item_count }}</cart-count>
          </a>
        </div>

        {%- unless section.settings.show_icons -%}
          <ul class="header__linklist list--unstyled hidden-pocket hidden-lap" role="list">
            {%- comment -%}
              <!-- NOTE: There is really not enough space to fit this, so this is commented by default in Liquid -->
              <li  class="header__linklist-item">
                <button is="toggle-button" aria-controls="newsletter-popup" aria-expanded="false">{{ 'header.general.newsletter' | t }}</button>
              </li>
            {%- endcomment -%}

            {%- if section.settings.header_layout != 'logo_center_search_open' -%}
              <li class="header__linklist-item">
                <a href="{{ routes.search_url }}" is="toggle-link" aria-controls="search-drawer" aria-expanded="false">{{ 'search.general.title' | t | escape }}</a>
              </li>
            {%- endif -%}

            {%- if shop.customer_accounts_enabled -%}
              <li class="header__linklist-item">
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
                  {%- if customer -%}
                    {{ 'header.general.account' | t }}
                  {%- else -%}
                    {{ 'header.general.login' | t }}
                  {%- endif -%}
                </a>
              </li>
            {%- endif -%}

            <li class="header__linklist-item">
              <a href="{{ routes.cart_url }}" {% unless settings.cart_type == 'page' %}is="toggle-link" aria-controls="mini-cart" aria-expanded="false"{% endunless %} data-no-instant>
                {{- 'header.general.cart' | t | escape -}}
                <cart-count class="header__cart-count bubble-count">{{ cart.item_count }}</cart-count>
              </a>
            </li>
          </ul>
        {%- endunless -%}
      </div>
    </div>
     {%- comment -%} Navigation links (desktop) {%- endcomment -%}
   <div class="site-header__bottom-row--desktop">
    <nav class="desktop-nav">
      <ul class="desktop-nav__linklist">
        
        {% for link in linklists[settings.main_menu].links %}
          {%- assign link_handle = link.title | handleize -%}
          <li class="desktop-nav__link-container {{link.title | handleize}} {% if link.links != blank %}desktop-nav__link-container--has-links{% endif %}">
            <div class="desktop-nav__link-skew">
              <a href="{{ link.url }}" class="desktop-nav__link">{{link.title}}</a>
            </div>
              
            {% if section.blocks.size > 0 %}
            {% render 'mega-menu', link: link, block: block,parent_link_handle: link_handle %}   
            
            
            {%- comment -%}
              {% for block in section.blocks %}            
                {% if block.type == 'mega-menu' %}
                  {%- assign block_link_handle = block.settings.link_title | handleize -%}
                  {% if link_handle == block_link_handle %}            
                    {% render 'main-mega-menu', link: link, block: block %}
                  {% endif %}               
            	{% elsif block.type == 'mega-menu-list' %}
                    {%- assign block_link_handle = block.settings.listlink_title | handleize -%}
                    {% if link_handle == block_link_handle %}
                      {% render 'main-mega-menu', link: link, block: block %}
                    {% endif %}
            	{% else%}          
            		{% render 'mega-menu', link: link, block: block%}   
                {% endif %}             
              {% endfor %}
            {%- endcomment -%}
            
            
            {% endif %}
            
            
          </li>
        
        
        {% endfor %}
      </ul>
    </nav>
  </div>
  </div>
</store-header>

{%- comment -%}
------------------------------------------------------------------------------------
  CART NOTIFICATION: it is used to show the notification when a product is added in message mode
------------------------------------------------------------------------------------
{%- endcomment -%}

<cart-notification global hidden class="cart-notification {% unless section.settings.enable_sticky_header %}cart-notification--fixed{% endunless %}"></cart-notification>

{%- comment -%}
------------------------------------------------------------------------------------
MOBILE MENU DRAWER
------------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign menu = section.settings.sidebar_navigation_menu | default: section.settings.navigation_menu -%}
{%- render 'mobile-menu', menu: menu -%}

{%- comment -%}
------------------------------------------------------------------------------------
SEARCH DRAWER
------------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'predictive-search' -%}

<script>
  (() => {
    const headerElement = document.getElementById('shopify-section-{{ section.id }}'),
      headerHeight = headerElement.clientHeight,
      headerHeightWithoutBottomNav = headerElement.querySelector('.header__wrapper').clientHeight;

    document.documentElement.style.setProperty('--header-height', headerHeight + 'px');
    document.documentElement.style.setProperty('--header-height-without-bottom-nav', headerHeightWithoutBottomNav + 'px');
  })();
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: 'https:' | json }},
    {% endif %}
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section--header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "280 x 80px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 340,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 25,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Mobile menu CTA must select",
      "default": "main-menu"
   
    },
    {
      "type": "link_list",
      "id": "sidebar_navigation_menu",
      "label": "Mobile menu",
      "info": "Mobile menu visible using this option, You can also select different mbl menu as well"
    },
   
    {
      "type": "select",
      "id": "header_layout",
      "label": "Layout",
      "options": [
        {
          "value": "logo_left_navigation_inline",
          "label": "Logo left, navigation inline"
        },
        {
          "value": "logo_left_navigation_center",
          "label": "Logo left, navigation center"
        },
        {
          "value": "logo_center_navigation_inline",
          "label": "Logo center, navigation inline"
        },
        {
          "value": "logo_center_search_open",
          "label": "Logo center, search highlighted"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_left_navigation_inline"
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Show icons",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "reduce_desktop_padding",
      "label": "Reduce padding",
      "default": false
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": false
    },
    {
      "type": "header",
      "content": "Transparent header",
      "info": "Home page only. For best results, use an image section such as slideshow."
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "Enable",
      "default": false
    },
    {
      "type": "color",
      "id": "transparent_header_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Logo image",
      "info": "Uses the dimensions set on your main logo."
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Quick links menu",
      "info": "Display quick links when empty. This menu has limited support for dropdown items."
    }
  ],
"blocks": [
      {
        "type": "league",
        "name": "League",
        "settings": [
          {
            "type": "image_picker",
            "id": "league_logo",
            "label": "League logo"
          },
          {
            "type": "range",
            "id": "logo_width",
            "min": 15,
            "max": 150,
            "step": 5,
            "unit": "px",
            "label": "Logo Width",
            "default": 50
          },
          {
            "type": "url",
            "id": "league_link",
            "label": "League Link"
          },
          {
            "type": "text",
            "id": "league_title",
            "label": "league Title"
          }
        ]
      },
      {
        "type": "mega-menu",
        "name": "Mega Menu",
        "settings": [
          {
            "type": "text",
            "id": "link_title",
            "label": "Link Title",
            "info": "The name of the link this menu is for. ex.) Footwear"
          },
          {
          "type": "select",
          "id": "menu_style_1",
          "label": "Menu Style",
          "options": [
          {"value": "Style1", "label": "Style 1" },
          {"value": "Style2", "label": "Style 2" },
          {"value": "Style3", "label": "Style 3" },
          {"value": "Style4", "label": "Style 4" },
          {"value": "Style5", "label": "Style 5" },
          {"value": "Style6", "label": "Style 6" },
          {"value": "Style7", "label": "Style 7" }
          ]
          },
          {
            "type": "header",
            "content": "6x4 Image grid (24 images max)",
            "info": "Each image must have coordinates, width, and height specified"
          },
          {
            "type": "header",
            "content": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "checkbox",
            "id": "image_1_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_1_url",
            "label": "Image 1 - URL"
          },
          {
            "type": "text",
            "id": "image_1_btn_text",
            "label": "Image 1 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_1_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 1 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_1_y",
            "min": 1,
            "max": 3,
            "step": 1,
            "label": "Image 1 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_1_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 1 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_1_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 1 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "checkbox",
            "id": "image_2_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_2_url",
            "label": "Image 2 - URL"
          },
          {
            "type": "text",
            "id": "image_2_btn_text",
            "label": "Image 2 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_2_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 2 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_2_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 2 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_2_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 2 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_2_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 2 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 3"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "checkbox",
            "id": "image_3_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_3_url",
            "label": "Image 3 - URL"
          },
          {
            "type": "text",
            "id": "image_3_btn_text",
            "label": "Image 3 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_3_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 3 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_3_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 3 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_3_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 3 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_3_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 3 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 4"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          },
          {
            "type": "checkbox",
            "id": "image_4_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_4_url",
            "label": "Image 4 - URL"
          },
          {
            "type": "text",
            "id": "image_4_btn_text",
            "label": "Image 4 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_4_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 4 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_4_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 4 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_4_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 4 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_4_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 4 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 5"
          },
          {
            "type": "image_picker",
            "id": "image_5",
            "label": "Image 5"
          },
          {
            "type": "checkbox",
            "id": "image_5_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_5_url",
            "label": "Image 5 - URL"
          },
          {
            "type": "text",
            "id": "image_5_btn_text",
            "label": "Image 5 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_5_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 5 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_5_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 5 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_5_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 5 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_5_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 5 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 6"
          },
          {
            "type": "image_picker",
            "id": "image_6",
            "label": "Image 6"
          },
          {
            "type": "checkbox",
            "id": "image_6_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_6_url",
            "label": "Image 6 - URL"
          },
          {
            "type": "text",
            "id": "image_6_btn_text",
            "label": "Image 6 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_6_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 6 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_6_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 6 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_6_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 6 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_6_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 6 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 7"
          },
          {
            "type": "image_picker",
            "id": "image_7",
            "label": "Image 7"
          },
          {
            "type": "checkbox",
            "id": "image_7_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_7_url",
            "label": "Image 7 - URL"
          },
          {
            "type": "text",
            "id": "image_7_btn_text",
            "label": "Image 7 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_7_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 7 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_7_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 7 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_7_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 7 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_7_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 7 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 8"
          },
          {
            "type": "image_picker",
            "id": "image_8",
            "label": "Image 8"
          },
          {
            "type": "checkbox",
            "id": "image_8_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_8_url",
            "label": "Image 8 - URL"
          },
          {
            "type": "text",
            "id": "image_8_btn_text",
            "label": "Image 8 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_8_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 8 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_8_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 8 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_8_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 8 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_8_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 8 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 9"
          },
          {
            "type": "image_picker",
            "id": "image_9",
            "label": "Image 9"
          },
          {
            "type": "checkbox",
            "id": "image_9_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_9_url",
            "label": "Image 9 - URL"
          },
          {
            "type": "text",
            "id": "image_9_btn_text",
            "label": "Image 9 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_9_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 9 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_9_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 9 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_9_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 9 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_9_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 9 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 10"
          },
          {
            "type": "image_picker",
            "id": "image_10",
            "label": "Image 10"
          },
          {
            "type": "checkbox",
            "id": "image_10_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_10_url",
            "label": "Image 10 - URL"
          },
          {
            "type": "text",
            "id": "image_10_btn_text",
            "label": "Image 10 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_10_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 10 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_10_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 10 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_10_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 10 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_10_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 10 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 11"
          },
          {
            "type": "image_picker",
            "id": "image_11",
            "label": "Image 11"
          },
          {
            "type": "checkbox",
            "id": "image_11_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_11_url",
            "label": "Image 11 - URL"
          },
          {
            "type": "text",
            "id": "image_11_btn_text",
            "label": "Image 11 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_11_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 11 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_11_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 11 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_11_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 11 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_11_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 11 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 12"
          },
          {
            "type": "image_picker",
            "id": "image_12",
            "label": "Image 12"
          },
          {
            "type": "checkbox",
            "id": "image_12_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_12_url",
            "label": "Image 12 - URL"
          },
          {
            "type": "text",
            "id": "image_12_btn_text",
            "label": "Image 12 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_12_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 12 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_12_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 12 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_12_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 12 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_12_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 12 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 13"
          },
          {
            "type": "image_picker",
            "id": "image_13",
            "label": "Image 13"
          },
          {
            "type": "checkbox",
            "id": "image_13_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_13_url",
            "label": "Image 13 - URL"
          },
          {
            "type": "text",
            "id": "image_13_btn_text",
            "label": "Image 13 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_13_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 13 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_13_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 13 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_13_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 13 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_13_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 13 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 14"
          },
          {
            "type": "image_picker",
            "id": "image_14",
            "label": "Image 14"
          },
          {
            "type": "checkbox",
            "id": "image_14_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_14_url",
            "label": "Image 14 - URL"
          },
          {
            "type": "text",
            "id": "image_14_btn_text",
            "label": "Image 14 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_14_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 14 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_14_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 14 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_14_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 14 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_14_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 14 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 15"
          },
          {
            "type": "image_picker",
            "id": "image_15",
            "label": "Image 15"
          },
          {
            "type": "checkbox",
            "id": "image_15_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_15_url",
            "label": "Image 15 - URL"
          },
          {
            "type": "text",
            "id": "image_15_btn_text",
            "label": "Image 15 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_15_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 15 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_15_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 15 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_15_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 15 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_15_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 15 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 16"
          },
          {
            "type": "image_picker",
            "id": "image_16",
            "label": "Image 16"
          },
          {
            "type": "checkbox",
            "id": "image_16_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_16_url",
            "label": "Image 16 - URL"
          },
          {
            "type": "text",
            "id": "image_16_btn_text",
            "label": "Image 16 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_16_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 16 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_16_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 16 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_16_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 16 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_16_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 16 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 17"
          },
          {
            "type": "image_picker",
            "id": "image_17",
            "label": "Image 17"
          },
          {
            "type": "checkbox",
            "id": "image_17_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_17_url",
            "label": "Image 17 - URL"
          },
          {
            "type": "text",
            "id": "image_17_btn_text",
            "label": "Image 17 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_17_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 17 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_17_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 17 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_17_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 17 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_17_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 17 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 18"
          },
          {
            "type": "image_picker",
            "id": "image_18",
            "label": "Image 18"
          },
          {
            "type": "checkbox",
            "id": "image_18_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_18_url",
            "label": "Image 18 - URL"
          },
          {
            "type": "text",
            "id": "image_18_btn_text",
            "label": "Image 18 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_18_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 18 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_18_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 18 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_18_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 18 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_18_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 18 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 19"
          },
          {
            "type": "image_picker",
            "id": "image_19",
            "label": "Image 19"
          },
          {
            "type": "checkbox",
            "id": "image_19_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_19_url",
            "label": "Image 19 - URL"
          },
          {
            "type": "text",
            "id": "image_19_btn_text",
            "label": "Image 19 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_19_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 19 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_19_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 19 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_19_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 19 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_19_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 19 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 20"
          },
          {
            "type": "image_picker",
            "id": "image_20",
            "label": "Image 20"
          },
          {
            "type": "checkbox",
            "id": "image_20_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_20_url",
            "label": "Image 20 - URL"
          },
          {
            "type": "text",
            "id": "image_20_btn_text",
            "label": "Image 20 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_20_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 20 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_20_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 20 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_20_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 20 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_20_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 20 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 21"
          },
          {
            "type": "image_picker",
            "id": "image_21",
            "label": "Image 21"
          },
          {
            "type": "checkbox",
            "id": "image_21_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_21_url",
            "label": "Image 21 - URL"
          },
          {
            "type": "text",
            "id": "image_21_btn_text",
            "label": "Image 21 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_21_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 21 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_21_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 21 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_21_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 21 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_21_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 21 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 22"
          },
          {
            "type": "image_picker",
            "id": "image_22",
            "label": "Image 22"
          },
          {
            "type": "checkbox",
            "id": "image_22_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_22_url",
            "label": "Image 22 - URL"
          },
          {
            "type": "text",
            "id": "image_22_btn_text",
            "label": "Image 22 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_22_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 22 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_22_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 22 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_22_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 22 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_22_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 22 - Height",
            "default": 1
          },
          {
            "type": "header",
            "content": "Image 23"
          },
          {
            "type": "image_picker",
            "id": "image_23",
            "label": "Image 23"
          },
          {
            "type": "checkbox",
            "id": "image_23_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_23_url",
            "label": "Image 23 - URL"
          },
          {
            "type": "text",
            "id": "image_23_btn_text",
            "label": "Image 23 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_23_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 23 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_23_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 23 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_23_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 23 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_23_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 23 - Height",
            "default": 1
          },

          {
            "type": "header",
            "content": "Image 24"
          },
          {
            "type": "image_picker",
            "id": "image_24",
            "label": "Image 24"
          },
          {
            "type": "checkbox",
            "id": "image_24_bg",
            "default": false,
            "label": "Set image as background"
          },
          {
            "type": "url",
            "id": "image_24_url",
            "label": "Image 24 - URL"
          },
          {
            "type": "text",
            "id": "image_24_btn_text",
            "label": "Image 24 - Button text",
            "info": "Leave blank if no button is needed"
          },
          {
            "type": "range",
            "id": "image_24_x",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 24 - X coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_24_y",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 24 - Y coordinate",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_24_width",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Image 24 - Width",
            "default": 1
          },
          {
            "type": "range",
            "id": "image_24_height",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Image 24 - Height",
            "default": 1
          }
        ]
      },
      {
    "type": "mega-menu-list",
    "name": "Mega Menu List",
    "settings": [
      {
        "type": "text",
        "id": "listlink_title",
        "label": "Link Title",
        "info": "The name of the link this menu is for. ex.) Footwear"
      },
      {
          "type": "select",
          "id": "menu_style_1",
          "label": "Menu Style",
          "options": [
          {"value": "Stylelist1", "label": "Style List 1" },
          {"value": "Stylelist2", "label": "Style List Main Menu" }
          ]
      },
      {
        "type": "image_picker",
        "id": "listimage_1",
        "label": "Image 1"
    },
    {
        "type": "url",
        "id": "listimage_1_url",
        "label": "URL 1"
    },
    {
        "type": "text",
        "id": "listimage_1_btn_text",
        "label": "Image text 1",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_2",
        "label": "Image 2"
    },
    {
        "type": "url",
        "id": "listimage_2_url",
        "label": "URL 2"
    },
    {
        "type": "text",
        "id": "listimage_2_btn_text",
        "label": "Image text 2",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_3",
        "label": "Image 3"
    },
    {
        "type": "url",
        "id": "listimage_3_url",
        "label": "URL 3"
    },
    {
        "type": "text",
        "id": "listimage_3_btn_text",
        "label": "Image text 3",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_4",
        "label": "Image 4"
    },
    {
        "type": "url",
        "id": "listimage_4_url",
        "label": "URL 4"
    },
    {
        "type": "text",
        "id": "listimage_4_btn_text",
        "label": "Image text 4",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_5",
        "label": "Image 5"
    },
    {
        "type": "url",
        "id": "listimage_5_url",
        "label": "URL 5"
    },
    {
        "type": "text",
        "id": "listimage_5_btn_text",
        "label": "Image text 5",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_6",
        "label": "Image 6"
    },
    {
        "type": "url",
        "id": "listimage_6_url",
        "label": "URL 6"
    },
    {
        "type": "text",
        "id": "listimage_6_btn_text",
        "label": "Image text 6",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_7",
        "label": "Image 7"
    },
    {
        "type": "url",
        "id": "listimage_7_url",
        "label": "URL 7"
    },
    {
        "type": "text",
        "id": "listimage_7_btn_text",
        "label": "Image text 7",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_8",
        "label": "Image 8"
    },
    {
        "type": "url",
        "id": "listimage_8_url",
        "label": "URL 8"
    },
    {
        "type": "text",
        "id": "listimage_8_btn_text",
        "label": "Image text 8",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_9",
        "label": "Image 9"
    },
    {
        "type": "url",
        "id": "listimage_9_url",
        "label": "URL 9"
    },
    {
        "type": "text",
        "id": "listimage_9_btn_text",
        "label": "Image text 9",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_10",
        "label": "Image 10"
    },
    {
        "type": "url",
        "id": "listimage_10_url",
        "label": "URL 10"
    },
    {
        "type": "text",
        "id": "listimage_10_btn_text",
        "label": "Image text 10",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_11",
        "label": "Image 11"
    },
    {
        "type": "url",
        "id": "listimage_11_url",
        "label": "URL 11"
    },
    {
        "type": "text",
        "id": "listimage_11_btn_text",
        "label": "Image text 11",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_12",
        "label": "Image 12"
    },
    {
        "type": "url",
        "id": "listimage_12_url",
        "label": "URL 12"
    },
    {
        "type": "text",
        "id": "listimage_12_btn_text",
        "label": "Image text 12",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_13",
        "label": "Image 13"
    },
    {
        "type": "url",
        "id": "listimage_13_url",
        "label": "URL 13"
    },
    {
        "type": "text",
        "id": "listimage_13_btn_text",
        "label": "Image text 13",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_14",
        "label": "Image 14"
    },
    {
        "type": "url",
        "id": "listimage_14_url",
        "label": "URL 14"
    },
    {
        "type": "text",
        "id": "listimage_14_btn_text",
        "label": "Image text 14",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_15",
        "label": "Image 15"
    },
    {
        "type": "url",
        "id": "listimage_15_url",
        "label": "URL 15"
    },
    {
        "type": "text",
        "id": "listimage_15_btn_text",
        "label": "Image text 15",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_16",
        "label": "Image 16"
    },
    {
        "type": "url",
        "id": "listimage_16_url",
        "label": "URL 16"
    },
    {
        "type": "text",
        "id": "listimage_16_btn_text",
        "label": "Image text 16",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_17",
        "label": "Image 17"
    },
    {
        "type": "url",
        "id": "listimage_17_url",
        "label": "URL 17"
    },
    {
        "type": "text",
        "id": "listimage_17_btn_text",
        "label": "Image text 17",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_18",
        "label": "Image 18"
    },
    {
        "type": "url",
        "id": "listimage_18_url",
        "label": "URL 18"
    },
    {
        "type": "text",
        "id": "listimage_18_btn_text",
        "label": "Image text 18",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_19",
        "label": "Image 19"
    },
    {
        "type": "url",
        "id": "listimage_19_url",
        "label": "URL 19"
    },
    {
        "type": "text",
        "id": "listimage_19_btn_text",
        "label": "Image text 19",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_20",
        "label": "Image 20"
    },
    {
        "type": "url",
        "id": "listimage_20_url",
        "label": "URL 20"
    },
    {
        "type": "text",
        "id": "listimage_20_btn_text",
        "label": "Image text 20",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_21",
        "label": "Image 21"
    },
    {
        "type": "url",
        "id": "listimage_21_url",
        "label": "URL 21"
    },
    {
        "type": "text",
        "id": "listimage_21_btn_text",
        "label": "Image text 21",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_22",
        "label": "Image 22"
    },
    {
        "type": "url",
        "id": "listimage_22_url",
        "label": "URL 22"
    },
    {
        "type": "text",
        "id": "listimage_22_btn_text",
        "label": "Image text 22",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_23",
        "label": "Image 23"
    },
    {
        "type": "url",
        "id": "listimage_23_url",
        "label": "URL 23"
    },
    {
        "type": "text",
        "id": "listimage_23_btn_text",
        "label": "Image text 23",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_24",
        "label": "Image 24"
    },
    {
        "type": "url",
        "id": "listimage_24_url",
        "label": "URL 24"
    },
    {
        "type": "text",
        "id": "listimage_24_btn_text",
        "label": "Image text 24",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_25",
        "label": "Image 25"
    },
    {
        "type": "url",
        "id": "listimage_25_url",
        "label": "URL 25"
    },
    {
        "type": "text",
        "id": "listimage_25_btn_text",
        "label": "Image text 25",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_26",
        "label": "Image 26"
    },
    {
        "type": "url",
        "id": "listimage_26_url",
        "label": "URL 26"
    },
    {
        "type": "text",
        "id": "listimage_26_btn_text",
        "label": "Image text 26",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_27",
        "label": "Image 27"
    },
    {
        "type": "url",
        "id": "listimage_27_url",
        "label": "URL 27"
    },
    {
        "type": "text",
        "id": "listimage_27_btn_text",
        "label": "Image text 27",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_28",
        "label": "Image 28"
    },
    {
        "type": "url",
        "id": "listimage_28_url",
        "label": "URL 28"
    },
    {
        "type": "text",
        "id": "listimage_28_btn_text",
        "label": "Image text 28",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_29",
        "label": "Image 29"
    },
    {
        "type": "url",
        "id": "listimage_29_url",
        "label": "URL 29"
    },
    {
        "type": "text",
        "id": "listimage_29_btn_text",
        "label": "Image text 29",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_30",
        "label": "Image 30"
    },
    {
        "type": "url",
        "id": "listimage_30_url",
        "label": "URL 30"
    },
    {
        "type": "text",
        "id": "listimage_30_btn_text",
        "label": "Image text 30",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_31",
        "label": "Image 31"
    },
    {
        "type": "url",
        "id": "listimage_31_url",
        "label": "URL 31"
    },
    {
        "type": "text",
        "id": "listimage_31_btn_text",
        "label": "Image text 31",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_32",
        "label": "Image 32"
    },
    {
        "type": "url",
        "id": "listimage_32_url",
        "label": "URL 32"
    },
    {
        "type": "text",
        "id": "listimage_32_btn_text",
        "label": "Image text 32",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_33",
        "label": "Image 33"
    },
    {
        "type": "url",
        "id": "listimage_33_url",
        "label": "URL 33"
    },
    {
        "type": "text",
        "id": "listimage_33_btn_text",
        "label": "Image text 33",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_34",
        "label": "Image 34"
    },
    {
        "type": "url",
        "id": "listimage_34_url",
        "label": "URL 34"
    },
    {
        "type": "text",
        "id": "listimage_34_btn_text",
        "label": "Image text 34",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_35",
        "label": "Image 35"
    },
    {
        "type": "url",
        "id": "listimage_35_url",
        "label": "URL 35"
    },
    {
        "type": "text",
        "id": "listimage_35_btn_text",
        "label": "Image text 35",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_36",
        "label": "Image 36"
    },
    {
        "type": "url",
        "id": "listimage_36_url",
        "label": "URL 36"
    },
    {
        "type": "text",
        "id": "listimage_36_btn_text",
        "label": "Image text 36",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_37",
        "label": "Image 37"
    },
    {
        "type": "url",
        "id": "listimage_37_url",
        "label": "URL 37"
    },
    {
        "type": "text",
        "id": "listimage_37_btn_text",
        "label": "Image text 37",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_38",
        "label": "Image 38"
    },
    {
        "type": "url",
        "id": "listimage_38_url",
        "label": "URL 38"
    },
    {
        "type": "text",
        "id": "listimage_38_btn_text",
        "label": "Image text 38",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_39",
        "label": "Image 39"
    },
    {
        "type": "url",
        "id": "listimage_39_url",
        "label": "URL 39"
    },
    {
        "type": "text",
        "id": "listimage_39_btn_text",
        "label": "Image text 39",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_40",
        "label": "Image 40"
    },
    {
        "type": "url",
        "id": "listimage_40_url",
        "label": "URL 40"
    },
    {
        "type": "text",
        "id": "listimage_40_btn_text",
        "label": "Image text 40",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_41",
        "label": "Image 41"
    },
    {
        "type": "url",
        "id": "listimage_41_url",
        "label": "URL 41"
    },
    {
        "type": "text",
        "id": "listimage_41_btn_text",
        "label": "Image text 41",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_42",
        "label": "Image 42"
    },
    {
        "type": "url",
        "id": "listimage_42_url",
        "label": "URL 42"
    },
    {
        "type": "text",
        "id": "listimage_42_btn_text",
        "label": "Image text 42",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_43",
        "label": "Image 43"
    },
    {
        "type": "url",
        "id": "listimage_43_url",
        "label": "URL 43"
    },
    {
        "type": "text",
        "id": "listimage_43_btn_text",
        "label": "Image text 43",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_44",
        "label": "Image 44"
    },
    {
        "type": "url",
        "id": "listimage_44_url",
        "label": "URL 44"
    },
    {
        "type": "text",
        "id": "listimage_44_btn_text",
        "label": "Image text 44",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_45",
        "label": "Image 45"
    },
    {
        "type": "url",
        "id": "listimage_45_url",
        "label": "URL 45"
    },
    {
        "type": "text",
        "id": "listimage_45_btn_text",
        "label": "Image text 45",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_46",
        "label": "Image 46"
    },
    {
        "type": "url",
        "id": "listimage_46_url",
        "label": "URL 46"
    },
    {
        "type": "text",
        "id": "listimage_46_btn_text",
        "label": "Image text 46",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_47",
        "label": "Image 47"
    },
    {
        "type": "url",
        "id": "listimage_47_url",
        "label": "URL 47"
    },
    {
        "type": "text",
        "id": "listimage_47_btn_text",
        "label": "Image text 47",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_48",
        "label": "Image 48"
    },
    {
        "type": "url",
        "id": "listimage_48_url",
        "label": "URL 48"
    },
    {
        "type": "text",
        "id": "listimage_48_btn_text",
        "label": "Image text 48",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_49",
        "label": "Image 49"
    },
    {
        "type": "url",
        "id": "listimage_49_url",
        "label": "URL 49"
    },
    {
        "type": "text",
        "id": "listimage_49_btn_text",
        "label": "Image text 49",
        "info": "Leave blank if no is needed"
    },
{
        "type": "image_picker",
        "id": "listimage_50",
        "label": "Image 50"
    },
    {
        "type": "url",
        "id": "listimage_50_url",
        "label": "URL 50"
    },
    {
        "type": "text",
        "id": "listimage_50_btn_text",
        "label": "Image text 50",
        "info": "Leave blank if no is needed"
    }
    
      
      
      
    ]
	}
    ]
}
{% endschema %}